

@font-face {
    font-family: 'karla-regular';
    src: url('karla-regular-webfont.woff2') format('woff2'),
         url('karla-regular-webfont.woff') format('woff'),
         url('karla-regular-webfont.eot') format('eot'),
         url('karla-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('karla-regular-webfont.ttf') format('truetype'),
         url('karla-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}




html {
  font-size: 16px;
}

html *{
  box-sizing: border-box;    /* la taille des images est determnée par ses bordures*/
}


body{
  padding: 20px;
  width: 1500px;
}


.titre {
  font-family: 'BioRhyme Expanded',serif;
  font-size: 1.68em;
  /*font-size: calc(1px + 2.03vw);*/
  font-weight: 500;
  color: black;
  position: fixed;
}


div.liste{
  font-family: 'karla-regular', serif;
  font-size: 17px;
  line-height: 1.5em;
  color: black;
  text-decoration: none ;
  margin-top: 70px;
  position: fixed;
  text-align: right;
  /*left:0;*/
  width:110px;
/*  margin-left: 125px;*/
}


a {
  color : black;
  text-decoration : none ;

}

p a{
  font-family: 'karla-regular';
  font-size: 13px;
  line-height: 20px;
  text-decoration : none ;
}

.liste a::after
{
  margin-left:.5ch;
  content:"☜";
}


a:hover {
  }


h4 {
  font-family: 'BioRhyme Expanded';
  font-size: 1em;
  font-weight: 500;
  color : black;
}


#projects{
  width: 100%;
  margin-left:10%;
  display: flex;
  flex-wrap: wrap;
}


#projects figure {
  padding-top: 75px;
  margin-bottom: 40px;
  width: 100%;
}

span.clear{
  clear:both;
  height:1px;
  width: 100%;
  content:"";
  display: table;
}

#projects img {
    height: 480px; /*hauteur*/
    width : auto;
    max-height: 480px;
    max-width: auto;

  }

#projects  img:hover{
  cursor: e-resize;
}

  #projects p{
    float: left;
    font-family: 'karla-regular';
    font-size: 14px;
    line-height: 20px;
    color: black;
    max-width: 450px;
    margin-left: 30px;
  }



main {
  color : black;
  font-family: 'karla-regular';
  font-size: 20px;
  line-height: 24px;
  max-width: 1000px;
  margin-top: 72px;
  margin-left: 180px;
}



main a {
  font-family: 'BioRhyme Expanded';
  font-size: 18px;


}


.compteur{
  font-family: 'BioRhyme Expanded';
}

ul.liste-images
{
  float:left;
}

li.liste-images-item
{
  display: none;
}

li.liste-images-item.active
{
  display: block;
}

.suivant
{
  cursor: pointer;
}

.suivant:hover {
  color : green;
  }
