@font-face {
    font-family: 'eczarregular';
    src: url('./typo/eczar-regular-webfont.woff2') format('woff2'),
         url('./typo/eczar-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eczarmedium';
    src: url('./typo/eczar-medium-webfont.woff2') format('woff2'),
         url('./typo/eczar-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eczarbold';
    src: url('./typo/eczar-bold-webfont.woff2') format('woff2'),
         url('./typo/eczar-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;

}





html {
  font-size: 16px;
}

html *{
  box-sizing: border-box;    /* la taille des images est determnée par ses bordures*/
}


body{
  padding: 30px;
  width: 1500px;
}


.titre {
  font-family: 'eczarmedium',serif;
  font-size: 1.7em;
  /*font-size: calc(1px + 2.03vw);*/
  font-weight: 500;
  color: black;
  position: fixed;
}


div.liste{
  font-family: 'eczarmedium', serif;
  font-size: 17px;
  /*font-size: calc(4px + 1vw);*/
  line-height: 1.5em;
  color: black;
  text-decoration: none ;
  margin-top: 70px;
  /*margin-top: calc(15px + 4vw);*/
  position: fixed;
  text-align: right;
  /*left:0;*/
  width:200px;
/*  margin-left: 125px;*/
}


a {
  color : black;
  /*font-weight: 500;*/
  text-decoration : none ;
}

p a{
  font-family: 'eczarmedium', serif;

  /*font-weight: 500;*/
  text-decoration : none ;
}

.liste a::after
{
  margin-left:.5ch;
  content:"☜";
}


a:hover {
  color : green;
  }


h4 {
  font-family: 'eczarbold', serif;
  font-size: 1em;
  font-weight: 500;
  color : black;
}


#projects{
  width: 100%;
  margin-left:17.2%;
  /*margin-left: calc(5px + 19vw);*/
  display: flex;
  flex-wrap: wrap;
}


#projects figure {
  padding-top: 75px;
  /*padding-top: calc(5px + 5vw);*/
  margin-bottom: 40px;
  /*margin-bottom: calc(5px + 5vw);*/
}

span.clear{
  clear:both;
  height:1px;
  width: 100%;
  content:"";
  display: table;
}

#projects img {
    height: 530px; /*hauteur*/
    width : auto;
    max-height: 500px;
    max-width: auto;
    /*height: calc(80px + 30vw);*/

  }

#projects  img:hover{
  cursor: url('curseur.png'), crosshair;
}

  #projects p{
    float: left;
    font-family: 'eczarregular', serif;
    font-size: 14px;
    /*font-size: calc(1px + 1vw);*/
    line-height: 20px;
    /*line-height: calc(8px + 1vw);*/
    color: black;
    max-width: 350px;
    margin-left: 30px;
   /*margin-left: calc(10px + 4vw);*/
  }



main {
  color : black;
  font-family: 'eczarregular', serif;
  font-size: 15px;
  line-height: 20px;
  max-width: 800px;
  margin-top: 72px;
  margin-left: 250px;
}



main a {
  font-family: 'eczarmedium', serif;

}


.compteur{
  font-family: 'eczarbold';
}

ul.liste-images
{
  float:left;
}

li.liste-images-item
{
  display: none;
}

li.liste-images-item.active
{
  display: block;
}

.suivant
{
  cursor: pointer;
}

.suivant:hover {
  color : green;
  }
