

@font-face {
    font-family: 'Epilogue';
    src: url('./font/Epilogue-Regular.eot');
    src: url('./font/Epilogue-Regular.eot?#iefix') format('embedded-opentype'),
        url('./font/Epilogue-Regular.woff2') format('woff2'),
        url('./font/Epilogue-Regular.woff') format('woff'),
        url('./font/Epilogue-Regular.ttf') format('truetype'),
        url('./font/Epilogue-Regular.svg#Epilogue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital@0;1&display=swap');

@font-face {
  font-family: "Epilogue-Italic";
  src: url("./font/Epilogue-Italic.eot"); /* IE9 Compat Modes */
  src: url("./font/Epilogue-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./font/Epilogue-Italic.otf") format("opentype"), /* Open Type Font */
    url("./font/Epilogue-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./font/Epilogue-Italic.woff") format("woff"), /* Modern Browsers */
    url("./font/Epilogue-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: italic;
}

@font-face {
    font-family: 'Epilogue-SemiBold';
    src: url('./font/Epilogue-SemiBold.eot');
    src: url('./font/Epilogue-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./font/Epilogue-SemiBold.woff2') format('woff2'),
        url('./font/Epilogue-SemiBold.woff') format('woff'),
        url('./font/Epilogue-SemiBold.ttf') format('truetype'),
        url('./font/Epilogue-SemiBold.svg#Epilogue-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



html {
  font-size: 1em;
  line-height: 0.8em;
}

html *{
  box-sizing: border-box;    /* la taille des images est determnée par ses bordures*/
}


body{
 max-width: 100%;
 font-family: 'Epilogue';
 overflow-x: hidden;
 background-color: rgb(250,250,250);
margin:0px;
}

/*———————————Header + intro + sous menu——————————*/


header{
  position: fixed;
  padding-top:20px;
  top: 0px;
  left:0px;
  width:100%;
  height:50px;
  font-family: 'Epilogue', sans-serif;
  display: flex;
  align-items: baseline;
  justify-content:space-between;
  padding-left:20px;
  padding-right: 20px;
  z-index:1;
}

header h1{
  font-size: 1em;
  line-height: 0.8em;
      font-weight: normal;
}

a{
  text-decoration: none;
  color: black;
}

header a:hover {
  border-bottom: 0.08em solid black;
}

.intro{
/*  position: absolute;*/
  padding-top: 70px;
  display: flex;
  align-items: baseline;
  justify-content:space-between;
  gap: 15px; /* espace entre les paragraphes */
  padding-right:20px;
  font-size: 0.7em;
}

.droite{
text-align: right;
}

.intro p{
  padding-left:20px;
  flex: 1;
}

.sousmenu{
  /*position: fixed;*/
  width:100%;
  padding-top:30px;
  padding-left:20px;
  padding-right: 20px;

  display: flex;
  align-items: baseline;
  justify-content:space-between;
}

label{
  font-size: 0.8em;
}



/* Style des boutons */
.filters label {
  cursor: pointer;
  margin-right: 1rem;
  text-transform: lowercase;
}
/* Soulignement du label actif */
#filter-all:checked ~ .filters label[for="filter-all"],
#filter-identite:checked ~ .filters label[for="filter-identite"],
#filter-logo:checked ~ .filters label[for="filter-logo"],
#filter-edition:checked ~ .filters label[for="filter-edition"],
#filter-web:checked ~ .filters label[for="filter-web"],
#filter-signa:checked ~ .filters label[for="filter-signa"],
#filter-video:checked ~ .filters label[for="filter-video"],
#filter-workshop:checked ~ .filters label[for="filter-workshop"] {
  border-bottom: 0.08em solid black;
}

/* Soulignement au survol */
label:hover {
  border-bottom: 0.08em solid black;
}


/* Cache les inputs radio */
input[type="radio"][name="filter"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;

}
/* Eviter erreur sur label identité */
input[type="radio"][name="filter"]:focus,
input[type="radio"][name="filter"]:focus-visible {
  outline: none;
  box-shadow: none;
}

/* Affichage par défaut */
.item {
  display: block;
}

/* Quand un filtre est actif → on cache tout */
#filter-identite:checked ~ .container .item,
#filter-logo:checked ~ .container .item,
#filter-edition:checked ~ .container .item,
#filter-web:checked ~ .container .item,
#filter-signa:checked ~ .container .item,
#filter-video:checked ~ .container .item,
#filter-workshop:checked ~ .container .item {
  display: none;

}



/* Puis on ré-affiche les bonnes catégories */
#filter-identite:checked ~ .container .identite {
      display: block;
}

#filter-identite:checked  {
    display: block;
}

#filter-logo:checked ~ .container .logo {
  display: block;
}

#filter-edition:checked ~ .container .edition {
  display: block;
}

#filter-web:checked ~ .container .web {
  display: block;
}

#filter-signa:checked ~ .container .signa {
  display: block;
}

#filter-video:checked ~ .container .video {
  display: block;
}

#filter-workshop:checked ~ .container .workshop {
  display: block;
}


/* Surlignement de la catégorie checké */
#filter-all:checked ~ .filter-all,
#filter-identite:checked ~ .filter-identité,
#filter-logo:checked ~ .filter-logo,
#filter-edition:checked ~ .filter-edition,
#filter-web:checked ~ .filter-web,
#filter-signa:checked ~ .filter-signa,
#filter-video:checked ~ .filter-video,
#filter-workshop:checked ~ .filter-workshop,
{
  border-bottom: 0.08em solid black;
    transition: opacity 0.2s;
}


/*———————————INDEX PROJETS——————————*/

.menu a:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;        /* horizontal */
  flex-wrap: wrap;  /* autorise le retour à la ligne */
  justify-content:space-around; /* agit horizontalement */
    align-items: top;
  gap: 20px;
  padding-top:40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  margin-bottom:150px;

}

.item {
  flex: 0 0 20%;    /* chaque image prend 1/4 de la largeur */
margin:0px;
opacity: 1;              /* visible par défaut */
transform: translateY(0); /* position normale */
transition: opacity 0.5s ease, transform 0.5s ease;
}


.item img {
  width: 100%;
  display: block;

}

.secret{
  opacity: 0;
  transition: opacity 0.2s;
  position: relative;
  top:10px;
  left:0px;
  margin:0px;
}

.item h3{
  font-size: 0.65em;
  color: black;
  font-weight: normal;
}
.revele:hover + .secret{
opacity: 1;
}


/*

.liste{
  width:30%;
}


.menu{
  display: flex;
  align-items: baseline;
  width: 100%;
  padding-left:20px;
  padding-right:10px;
  position: relative;
  top:100px;
  left:5px;
  padding-bottom: 100px;

}

.revele{
  top: 200px;
  right:0px;
}

img{
width: calc(25% - 10px);
height: auto;
gap: 10px;
}



.menu h3{
  position : relative;
  border-bottom:5px;
  font-family:'Epilogue', sans-serif;
  font-weight: normal;
  font-size: 0.5em;
  color: black;
  max-width: 200px;
  margin:0px;
  padding-bottom: 5px;
  padding-top: 5px;
}





.navabout a:hover {
  border-bottom: 0.08em solid black;
  cursor: pointer;
}



h3:hover ~ .fond{
display: none;
}

h3:hover + .texteDemarche{
display: none;
}

.revele:hover + .secret{
opacity: 1;
}

.texteDemarche{
  width:55%;
  height:450px;
  position:fixed;
  top: 120px;
  right:20px;
  overflow-y: scroll;
  z-index: -1;
  float:right;
}

.texteDemarche p{
  font-size : 0.9em;
  line-height: 1.3em;
}


.texteArt{
  width:40%;
padding-left: 20px;
padding-top: 100px;
padding-bottom: 120px;
}

.texteArt p{
  font-size: 0.8em;
  line-height: 1.3em;
  color: black;
  margin:0px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.legende{
  font-size: 0.7em;
}

/*———————————A PROPOS—————————————*/

.intro a {
  border-bottom: 0.08em solid black;
  cursor: pointer;
}


.texteApropos{
  font-family: 'Epilogue', sans-serif;
  font-size: 0.8em;
  line-height: 1.3em;
}

.bold{

/*  border-bottom: 0.08em solid black;*/
    font-family: 'Epilogue-SemiBold';
  padding-bottom: 0.1em;

}

.left{
  width: 45%;
  display:block;
  float:left;
  margin-top:120px;
  padding-left:20px;

}

.left a {
  border-bottom: 0.11em solid black;
}

.right a {
  border-bottom: 0.11em solid black;
}



.right{
  margin-top:100px;
  width:45%;
  float:right;
  padding-bottom: 100px;
  padding-right: 30px;

}


.contact{
  font-family: 'Epilogue', sans-serif;
  font-size: 0.9em;
  line-height: 1.6em;
  color: black;
}

.droits{
  font-size: 0.8em;
}


.imagePortrait img{
    max-width: 300px;
}



/*———————————PROJETS—————————————*/

.projet{
  width: 100%;
  padding-left:20px;
  display: block;
}

.projet .texte {
  width: 32%;
  position: fixed;
  top:100px;
  padding-left:10px;
}

.texte h3{
  font-family: 'Epilogue', sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.2em;
  color: black;
  margin:0px;
  padding-top: 10px;
}

.texte p{
  font-family: 'Epilogue', sans-serif;
  font-size: 0.8em;
  line-height: 1.3em;
  color: black;
}

.texte a{
  border-bottom: 0.08em solid black;
}

.projetImage{
  width: 60%;
  position:absolute;
  top:100px;
  right:30px;
  padding-bottom: 20px;
}

.projet img{
  max-width: 700px;
  float: right;
  margin-bottom: 40px;
}

video{
  float: right;
  max-width: 700px;
}
.player{
  position: relative;
  right:0;
  float: right;
  width: 700px;
}

.italic{
  font-family: 'Epilogue-Italic';
  font-style: italic;
}

footer{
  font-size: 1.5em;
  line-height: 0em;
  padding-left:20px;
  position:fixed;
  bottom:0px;
  font-weight: normal;
}

footer p {
  font-family:'Epilogue', sans-serif;
  font-size: 0.9em;
}





/*——————————————MEDIA—————————————————*/


@media(min-width: 1450px){

.image{
    right:30px;
  }


  img{
    min-width: 300px;
  }

  .liste{
  width:35%;
  }

  video{
    min-width: 300px;
  }

  .projet img{
    min-width: 800px;
  }

}

@media (max-width: 1100px) {


header{
  padding-left: 15px;
  padding-right: 25px;

}


.liste{
width:35%;
}

.image{
  right:20px;
}

.menu{
  padding-left:10px;
}


img{
  max-width: 550px;
}

.projet{
  padding-left:10px;
}

.projet .texte{
  width: 30%;
}

.texte h3{
  font-size: 1.1em;
  line-height: 1.3em;
}




.projetImage{
  width: 70%;
  top:110px;
  right:20px;
}



.projet img{
  max-width: 550px;
  margin-bottom: 20px;

}
video{
  max-width: 550px;
}

.imagePortrait img{
    max-width: 300px;
}


.left{
  margin-top:100px;
}


}

@media (max-width: 900px) {

header{
height:80px;
padding-top:10px;
padding-right:30px;
font-size: 0.8em;
}

header h1{
  font-size: 0.9em;
  line-height: 0.8em;
      font-weight: normal;
}

.titre {
  font-size: 1em;
}

.soustitre{
  font-size: 1em;
}

.intro p {
  width:100%;
}

.intro{

  padding-top: 50px;
  gap: 10px; /* espace entre les paragraphes */
  padding-right:20px;
  font-size: 0.6em;
}

label{
  font-size: 0.6em;
}


.item {
  flex: 0 0 30%;    /* chaque image prend 1/4 de la largeur */
margin:0px;
opacity: 1;              /* visible par défaut */
transform: translateY(0); /* position normale */
transition: opacity 0.5s ease, transform 0.5s ease;
}

.invisible{
display: none;
}

.secret{
display: none;
}


.liste{
  width: 100%;
}

.menu{
  top:80px;
  width:100%;
}

.texteDemarche{
  top: 80px;
}



.menu h3{
  font-size: 0.9em;
  line-height: 1.3em;
}

.image{
top: 300px;
left: 20px;
}

.image img{
  max-width: 100%;

}

.projet{
  width: 100%;
  position: absolute;
  padding-left: 0px;
  padding-right:20px;
}

.projet .texte{
  width: 100%;
  position: relative;
  top:80px;
  padding-left:20px;
}

.texte h3{
  font-size: 1em;
  line-height: 1.3em;
}

.texte p {
  font-size: 0.7em;
}



.projetImage{
  width: 100%;
  position:relative;
  top:80px;
  left:10px;
}

.projet img{
  max-width: 100%;
  float: left;
  margin-bottom: 20px;
  padding-left: 10px;
    padding-right: 10px;
}


video{
  max-width: 100%;
  float: left;
  margin-bottom: 10px;
}

footer{
  padding-left:20px;
}


.left{
  margin-top:80px;
}

}

@media (max-width: 550px) {

  header h1{
    font-size: 0.8em;
    line-height: 0.8em;
    font-weight: normal;
  }

.intro{
    display: block;
    width:100%;
}
}
