

@font-face {
    font-family: 'Epilogue';
    src: url('./font/Epilogue-Regular.eot');
    src: url('./font/Epilogue-Regular.eot?#iefix') format('embedded-opentype'),
        url('./font/Epilogue-Regular.woff2') format('woff2'),
        url('./font/Epilogue-Regular.woff') format('woff'),
        url('./font/Epilogue-Regular.ttf') format('truetype'),
        url('./font/Epilogue-Regular.svg#Epilogue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital@0;1&display=swap');

@font-face {
  font-family: "Epilogue-Italic";
  src: url("./font/Epilogue-Italic.eot"); /* IE9 Compat Modes */
  src: url("./font/Epilogue-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./font/Epilogue-Italic.otf") format("opentype"), /* Open Type Font */
    url("./font/Epilogue-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./font/Epilogue-Italic.woff") format("woff"), /* Modern Browsers */
    url("./font/Epilogue-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: italic;
}



html {
  font-size: 16px;
}

html *{
  box-sizing: border-box;    /* la taille des images est determnée par ses bordures*/
}


body{
 max-width: 100%;
 font-family: 'Epilogue';
 overflow-x: hidden;
 background-color: rgb(245,245,245);
margin:0px;
}

header{
  position: fixed;
  padding-top:20px;
  top: 0px;
  left:0px;
  width:100%;
  height:70px;
  font-family: 'Epilogue', sans-serif;
  display: flex;
  align-items: baseline;
  justify-content:space-between;
  padding-left:25px;
  padding-right: 40px;
  z-index:1;
}

.titre {
  font-size: 0.9em;
  color: black;
  font-weight: normal;
}

.soustitre{
  font-size: 0.9em;
  color: black;
  font-weight: normal;
}

header .apropos{
  font-size: 0.9em;
  font-family: 'Epilogue', sans-serif;
  font-weight: normal;
}

a{
  text-decoration: none;
  color: black;
}

.apropos{
  margin-bottom: 20px;
}

header a:hover {
  border-bottom: 0.08em solid black;
}

.liste{
  width:50%;
}


/*———————————INDEX——————————*/



.liste{
  width:30%;
}

.menu{
  width: 100%;
  padding-left:20px;
  padding-right:10px;
  position: relative;
  top:100px;
  left:5px;
  overflow:scroll;
  padding-bottom: 100px;
  width:35%;
}


.menu h3{
  border-bottom:5px;
  font-family:'Epilogue', sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  color: black;
  max-width: 600px;
  margin:0px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.menu p{
  font-size: 0.9em;
  line-height: 1.3em;
}


.menu a:hover {
  border-bottom: 0.08em solid black;
  cursor: pointer;
}

.navabout a:hover {
  border-bottom: 0.08em solid black;
  cursor: pointer;
}

.date{
  margin-bottom: 5px;
}

.image{
  position: fixed;
  top: 100px;
  right:30px;
}

img{
  max-width: 700px;
}

.secret{
  opacity: 0;
  transition: opacity 0.3s;
}

h3:hover ~ .fond{
display: none;
}

h3:hover + .texteDemarche{
display: none;
}

.revele:hover + .secret{
opacity: 1;
}

.texteDemarche{
  width:55%;
  height:450px;
  position:fixed;
  top: 120px;
  right:20px;
  overflow-y: scroll;
  z-index: -1;
  float:right;
}

.texteDemarche p{
  font-size : 0.9em;
  line-height: 1.3em;
}


.texteArt{
  width:40%;
padding-left: 20px;
padding-top: 100px;
padding-bottom: 120px;
}

.texteArt p{
  font-size: 0.9em;
  line-height: 1.35em;

  color: black;

  margin:0px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.legende{
  font-size: 0.7em;
}

/*———————————A PROPOS—————————————*/


.texteApropos{
  font-family: 'Epilogue', sans-serif;
  font-size: 0.8em;
  line-height: 1.3em;
}


.left{
  width: 50%;
  display:block;
  float:left;
  margin-top:120px;
  padding-left:20px;
}

.left a {
  border-bottom: 0.11em solid black;
}

.left h3{
font-weight: normal;
font-size: 0.9em;
line-height: 1.3em;
}


.right{
  margin-top:100px;
  width:35%;
  float:right;
}


.contact{
  font-family: 'Epilogue', sans-serif;
  font-size: 0.9em;
  line-height: 1.6em;
  color: black;
}

.droits{
  font-size: 0.8em;
}


.imagePortrait img{
    max-width: 300px;
}



/*———————————PROJETS—————————————*/

.projet{
  width: 100%;
  padding-left:20px;
  display: block;
}

.projet .texte {
  width: 32%;
  position: fixed;
  top:100px;
  padding-left:10px;
}

.texte h3{
  font-family: 'Epilogue', sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.2em;
  color: black;
  margin:0px;
  padding-top: 10px;
}

.texte p{
  font-family: 'Epilogue', sans-serif;
  font-size: 0.8em;
  line-height: 1.3em;
  color: black;
}

.texte a{
  border-bottom: 0.08em solid black;
}

.projetImage{
  width: 60%;
  position:absolute;
  top:100px;
  right:30px;
  padding-bottom: 20px;
}

.projet img{
  max-width: 700px;
  float: right;
  margin-bottom: 40px;
}

video{
  float: right;
  max-width: 700px;
}
.player{
  position: relative;
  right:0;
  float: right;
  width: 700px;
}

.italic{
  font-family: 'Epilogue-Italic';
  font-style: italic;
}

footer{
  font-size: 1.5em;
  line-height: 0em;
  padding-left:20px;
  position:fixed;
  bottom:0px;
  font-weight: normal;
}

.navabout{
  position: fixed;
  bottom: 0px;
  right:30px;
}

/*———————————ARTWORKS—————————————*/

.texteartworks{
max-width: 800px;
text-align: center;
line-height: 1.3em;
}

.texteartworks a{
  text-decoration: underline;
}


.artworks .vertical img{
    max-width: 300px;
    margin-bottom:30px;
}

.artworks .horizontal img{
    max-width: 600px;
    margin-bottom:30px;
}

.artworks{
  width : 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:120px;
}

.artwork{
  margin-left:1%;
  margin-right: 1%;
}


.conteneur{
  position: relative;

}

.imgcontenu{
    transition:ease 0.5s;
}

.conteneur:hover .imgcontenu {
  opacity: 0.3;
}

.conteneur:hover .txtcontenu {
  opacity: 1;
}

.txtcontenu {
  position: absolute;
  text-align: center;
  top: 40%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
  z-index:1;
  color: rgb(100,100,100);
}


/*——————————————MEDIA—————————————————*/

@media (min-width: 1350px){

  .image{
    right:30px;
  }

  img{
    min-width: 700px;
  }
  .liste{
  width:35%;
  }

  video{
    min-width: 700px;
  }

  .projet img{
    min-width: 700px;
  }

  .imagePortrait img{
      min-width: 350px;
      max-width: 400px;

  }

  .artworks .vertical img{
      max-width: 250px;
      margin-bottom:30px;
  }

  .artworks .horizontal img{
      max-width: 500px;
      margin-bottom:30px;
  }

  .liste{
  width:35%;
  }

}

@media(min-width: 1450px){

  .image{
    right:130px;
  }


  img{
    min-width: 800px;
  }
  .liste{
  width:35%;
  }

  video{
    min-width: 800px;
  }

  .projet img{
    min-width: 800px;
  }

  .artworks .vertical img{
      max-width: 300px;
      margin-bottom:30px;
  }

  .artworks .horizontal img{
      max-width: 600px;
      margin-bottom:30px;
  }

}

@media(min-width: 1550px){

  .image{
    right:180px;
  }


  img{
    min-width: 850px;
  }
  .liste{
  width:35%;
  }

  video{
    min-width: 850px;
  }

  .projet img{
    min-width: 850px;

  }

  .artworks .vertical img{
      max-width: 300px;
      margin-bottom:30px;
  }

  .artworks .horizontal img{
      max-width: 600px;
      margin-bottom:30px;
  }

}



@media(min-width: 1650px){

  .image{
    right:230px;
  }

  img{
    min-width: 900px;
  }
  .liste{
  min-width:35%;
  }

  video{
    width: 900px;
  }

  .projet img{
    min-width: 900px;

  }

  .artworks .vertical img{
      max-width: 300px;
      margin-bottom:30px;
  }

  .artworks .horizontal img{
      max-width: 600px;
      margin-bottom:30px;
  }

}

@media(min-width: 1800px){

.image{
  right:330px;
}

  img{
  min-width: 1000px;
  }
  .liste{
  width:35%;
  }

  video{
    min-width: 1000px;
  }

  .projet img{
    min-width: 1000px;

  }

  .artworks .vertical img{
      max-width: 300px;
      margin-bottom:30px;
  }

  .artworks .horizontal img{
      max-width: 600px;
      margin-bottom:30px;
  }

}


@media(min-width: 1900px){

.image{
  right:180px;
}

  img{
  min-width: 850px;
  }
  .liste{
  width:35%;
  }

  video{
    min-width: 850px;
  }

  .projet img{
    min-width: 850px;

  }

  .imagePortrait img{
      min-width: 200px;
  }
  .artworks .vertical img{
      max-width: 300px;
      margin-bottom:30px;
  }

  .artworks .horizontal img{
      max-width: 600px;
      margin-bottom:30px;
  }

}


@media (max-width: 1200px) {

  .liste{
  width:30%;
  }

  .texteArt{
    width:30%;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .texteArt p{
    font-size : 0.8em;
  }


  img{
    max-width: 650px;
  }

  video{
    max-width: 650px;
  }

  .projet img{
    max-width: 650px;
    margin-bottom: 30px;
  }

}




@media (max-width: 1100px) {


header{
  height:100px;
}

.menu{
  top:100px;
}

.texteDemarche{
  top:100px;
}

.menu h3{
  font-size: 1em;
  line-height: 1.2em;

}

.liste{
width:35%;
}



img{
  max-width: 600px;
}

video{
  max-width: 600px;
}

.projet{
  padding-left:10px;
}

.projet .texte{
  width: 30%;
}

.projetImage{
  width: 70%;
  position:absolute;
  top:100px;
  right:30px;
}

.projet img{
  max-width: 600px;
  margin-bottom: 30px;
}

video{
  max-width: 600px;
}

.imagePortrait img{
    max-width: 400px;
}

.artworks .vertical img{
    max-width: 220px;
    margin-bottom:10px;
}

.artworks .horizontal img{
    max-width: 440px;
    margin-bottom:10px;
}


}



@media (max-width: 1000px) {


header{
  padding-left: 15px;
  padding-right: 25px;
}


.liste{
width:35%;
}

.image{
  right:20px;
}

.menu{
  padding-left:10px;
}


img{
  max-width: 550px;
}

.projet{
  padding-left:10px;
}

.projet .texte{
  width: 30%;
}

.texte h3{
  font-size: 1.1em;
  line-height: 1.3em;
}

.texte p{
  font-size: 0.9em;
  line-height: 1.4em;
}


.projetImage{
  width: 70%;
  top:60px;
  right:20px;
}



.projet img{
  max-width: 550px;
  margin-bottom: 20px;

}
video{
  max-width: 550px;
}

.imagePortrait img{
    max-width: 300px;
}


.left{
  margin-top:100px;
}


.artworks .vertical img{
    max-width: 120px;
    margin-bottom:10px;
}

.artworks .horizontal img{
    max-width: 240px;
    margin-bottom:10px;
}

}

@media (max-width: 850px) {

header .apropos{
  font-size: 0.9em;
}

.liste{
width:30%;
}

.menu h3{
  font-size: 0.9em;
  line-height: 1.2em;
}


img{
  max-width: 500px;
}

.image{
  top: 100px;
  right:20px;
}

.texte h3{
  font-size: 1em;
  line-height: 1em;
}

.texteArt{
  width:30%;
  padding-top: 80px;
  padding-bottom: 100px;
}

.texteArt p{
  font-size : 0.7em;
}


.projet{
  padding-left:10px;
}

.projet .texte{
  top:100px;
}


.projet .texte{
  width: 30%;
}

.projetImage{
  width: 70%;
  top:110px;
  right:20px;
}

.projet img{
  max-width: 500px;
}

video{
  max-width: 500px;
}

.imagePortrait img{
display:none
}





.artworks .vertical img{
    max-width: 95px;
    margin-bottom:10px;
}

.artworks .horizontal img{
    max-width: 190px;
    margin-bottom:10px;
}

.left{
  width: 80%;
  float:left;
  margin-top:80px;
  padding-left:20px;
}


.contact{
  font-size: 0.9em;
  line-height: 1.3em;
}

.droits{
  font-size: 0.7em;
}

.right{
  margin-top:0px;
  width:80%;
  padding-left:50px;
  display: block;
  float:left;
}

.texteDemarche{
  display: block;
  float:left;
}

}

@media (max-width: 750px) {

  .liste{
    width: 30%;
  }
}

@media (max-width: 750px) {

header{
height:80px;
padding-top:10px;
padding-right:30px;
}

.titre {
  font-size: 1em;
}

.soustitre{
  font-size: 1em;
}

header .apropos{
  font-size: 0.9em;
}

.invisible{
display: none;
}

.headerApropos{
  padding-top: 10px;
}

.liste{
  width: 100%;
}

.menu{
  top:80px;
  width:100%;
}

.texteDemarche{
  top: 80px;
}

.texteArt{
  width:80%;
  padding-top: 50px;
  padding-bottom: 60px;
}

.texteArt p{
  font-size: 0.9em;
}

.menu h3{
  font-size: 0.9em;
  line-height: 1.3em;
}

.image{
display: none;
}

.projet{
  width: 100%;
  position: absolute;
  padding-left: 0px;
  padding-right:20px;
}

.projet .texte{
  width: 80%;
  position: relative;
  top:80px;
  padding-left:10px;
}

.texte h3{
  font-size: 1em;
  line-height: 1.3em;
}

.texte p{
  font-size: 0.9em;
  line-height: 1.3em;
}


.projetImage{
  width: 100%;
  position:relative;
  top:80px;
  left:0px;
}

.projet img{
  max-width: 100%;
  float: left;
  margin-bottom: 10px;
}


video{
  max-width: 100%;
  float: left;
  margin-bottom: 10px;
}

footer{
  padding-left:20px;
}


.left{
  margin-top:80px;
}

}



@media (max-width: 600px) {

header{
  padding-top: 10px;
  padding-right: 20px;
  height: 70px;
  line-height: 1em;
}

.titre {
  font-size: 0.9em;
}

.soustitre{
  font-size: 0.9em;
}

header .apropos{
  font-size: 0.9em;
}

.menu{
  font-size: 0.9em;
}

.texteDemarche{
  font-size: 0.8em;
}

.texteArt{
  width:80%;
  padding-top: 40px;
  padding-bottom: 60px;
}

.menu{
  top:70px;
}

.texteDemarche{
  top:70px;
}

.projet .texte{
  top:70px;
}

.projet .texte{
  width: 100%;
}

.texte p{
  font-size: 0.8em;
  line-height: 1.3em;
}

.texteApropos{
  font-size: 0.8em;
  line-height: 1.3em;
  padding-right:20px;
}

.left{
  width: 100%;
  margin-top:70px;
  padding-left:10px;
}


.contact{
  font-size: 0.8em;
  line-height: 1.3em;
}

.projetImage{
  width: 100%;
  position:relative;
  top: 70px;
  left: 0px;
}

.projet img{
  max-width:100%;
}

}


@media (max-width:500px){
  .titre {
    font-size: 0.8em;
  }

  .soustitre{
    font-size: 0.8em;
  }

  header .apropos{
    font-size: 0.8em;
  }

  .menu h3{
    font-size: 0.9em;
  }

.texteDemarche p{
  font-size: 0.8em;
}

.texteArt{
  width:80%;
  padding-top: 40px;
  padding-bottom: 60px;
}


}
