@font-face {
    font-family: 'brillroman';
    src: url('../font/brill_roman-webfont.woff2') format('woff2'),
         url('../font/brill_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brillitalic';
    src: url('../font/brill_italic-webfont.woff2') format('woff2'),
         url('../font/brill_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'biorhyme_expandedregular';
    src: url('../font/biorhymeexpanded-regular-webfont.woff2') format('woff2'),
         url('../font/biorhymeexpanded-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'biorhymebold';
    src: url('../font/biorhyme-bold-webfont.woff2') format('woff2'),
         url('../font/biorhyme-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;

}


  html * {
  box-sizing: border-box;
  overflow-y: auto;
  background-color: transparent;
 }

 html, body {
  margin: 0;
  width: 100%;
  height: 100%;
 }

 body   {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 10px;
display: block;
background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
height: 10px;
background-color: white;
border: 0px ;
-webkit-border-radius: 0px;
}

h1{
  color: white;
  font-family: 'brillitalic';
  font-size: 12pt;
  line-height: 14pt;
  overflow: hidden;
  margin-left: 60px;
}

h2{
  color: white;
  font-family: 'biorhyme_expandedregular';
  font-size: 18pt;
  line-height: 20pt;
  overflow: hidden;
}

h3{
  color: white;
  font-family: 'biorhyme_expandedregular';
  font-size: 14pt;
  line-height: 16pt;
  overflow: hidden;
  margin-left: 60px;

}

h4{
  color: white;
  font-family: 'biorhyme_expandedregular';
  font-size: 14pt;
  line-height: 16pt;
  overflow: hidden;
  margin-left: 80px;

}



 section.memoire {
  display: flex;
 }

 section.texte {
  flex: 0 0 65%;
  padding: 0em;
  padding-right: 6em;
  order: 1;
  overflow: hidden;
  z-index: 1;
  color: white;
  font-family: 'brillroman';
  font-size: 16pt;
  line-height: 20pt;
 }

 section.texte p{
  overflow: hidden;
  margin-left: 60px;
  margin-top: -1em;
}

.retrait{
  text-indent: 30px;
}

.blabla{
  font-family: 'BioRhyme';
}

.collab{
    font-family: 'BioRhyme';
      text-indent: 30px;
}


 section.notes {
  flex: 0 0 35%;/* Trois valeurs : flex-grow | flex-shrink | flex-basis */
  min-width: 300px;
  position: relative;
  padding: 0em;
  margin: 0em;
z-index:2;
overflow: hidden;
 }

.notes_texte p {
  position: absolute;
  right: 0;
  text-align: right;
  color: white;
  font-family: 'brillroman';
  font-size: 10pt;
  line-height: 12pt;
  width: 300px;
  margin:0em;
  padding:0em;
  padding-right: 0em;
  overflow: hidden;
 }

 .notes_figure p {
   position: absolute;
   color: white;
   font-family: 'brillroman';
   font-size: 10pt;
   line-height: 12pt;
   width: 300px;
   margin:0em;
   padding:0em;
   padding-right: 0em;
   overflow: hidden;
  }

div{
  margin:0px;
  padding:0px;
}

sup{
  line-height: 0em;
  font-size: 10pt;
  margin-left:2px;
}


img {
   max-width: 300px;
   height: auto;
   margin:0px;
   float: right;

}

img:hover{
  background: none;
  cursor: crosshair;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: white;
  margin: 0px;
  padding: 0px;
}

a:hover {
     background: none;
     cursor: crosshair;
  }

title {
    z-index: 500;

  }

div#tooltip {
  position:absolute;
  visibility:hidden;
  left:50px;
  margin:5px;
  font-family: 'brillroman';
  z-index: 1000;
  width: 120px;
  font-size: 8pt;
  line-height: 10pt;
  color: white;
  overflow: hidden;

}
